
<% include partials/header %>
	<!-- start banner Area -->
	<section class="home-banner-area">
		<div class="container">
			<div class="row fullscreen d-flex align-items-center">
				<div class="banner-content col-lg-6 col-md-12 justify-content-center ">
					<div class="me wow fadeInDown" data-wow-duration="1s" data-wow-delay="1.2s">It's me</div>
					<h1 class="wow fadeInUp" data-wow-duration="1s" data-wow-delay="1.7s">Muhammed KERIM</h1>
					<div class="designation mb-50 wow fadeInUp" data-wow-duration="1s" data-wow-delay="2.1s">
						Senior Creative
						<span class="designer">Designer</span>
						and Full Stack 
						<span class="developer">Web Developer</span>
					</div>
					<a href="#contact" class="primary-btn mt-50" data-text="Contact Me">
						<span>C</span>
						<span>o</span>
						<span>n</span>
						<span>t</span>
						<span>a</span>
						<span>c</span>
						<span>t</span>
						<span> </span>
						<span>M</span>
						<span>e</span>
					</a>
				</div>
				<div class="banner-img col-lg-6 col-md-6 align-self-end">
					<img class="img-fluid my-img" src="../img/banner-img.png" alt="">
				</div>
			</div>
		</div>
	</section>
	<!-- End banner Area -->


	<!-- Start brands Area -->
	<section class="brands-area">
		<div class="container">
			<div class="brand-wrap">
				<div class="row align-items-center active-brand-carusel justify-content-start no-gutters">
					<div class="col single-brand">
						<a href="#"><img class="mx-auto" src="../img/brand/b1.png" alt=""></a>
					</div>
					<div class="col single-brand">
						<a href="#"><img class="mx-auto" src="../img/brand/b2.jpg" alt=""></a>
					</div>
					<div class="col single-brand">
						<a href="#"><img class="mx-auto" src="../img/brand/b3.png" alt=""></a>
					</div>
					<div class="col single-brand">
						<a href="#"><img class="mx-auto" src="../img/brand/b4.png" alt=""></a>
					</div>
					<div class="col single-brand">
						<a href="#"><img class="mx-auto" src="../img/brand/b5.png" alt=""></a>
					</div>
					<div class="col single-brand">
						<a href="#"><img class="mx-auto" src="../img/brand/b6.jpg" alt=""></a>
					</div>
				</div>
			</div>
		</div>
	</section>
	<!-- End brands Area -->


	<!-- Start About Area -->
	<section class="about-area section-gap" >
		<div class="container" id="about">
			<div class="row align-items-center justify-content-between">
				<div class="col-lg-6 about-left">
					<img class="about-img img-fluid" src="../img/about-img.gif" alt="">
				</div>
				<div class="col-lg-5 col-md-12 about-right" >
					<div class="section-title" >
						<h2>about myself</h2>
					</div>
					<div class="mb-50 wow fadeIn" data-wow-duration=".8s">
						<p>
							Throughout my education at METU I took the most relevant courses to the web. I was never satisfied by the limited courses offered there, so I started taking courses from the top online universities such as Harvard where I took the famous CS50 course, and two python language courses from Michigan University. As a result, I acquired the right theoretical base for starting a career in web development.
						</p>
						<p>
							After obtaining the basic theoretical knowledge in the web field, I have worked in several companies and projects. At this point. I would like to pursue my career in web development and gain experience from skilled teams. I am hoping to work with talented developers in challenging projects. 
						</p>
					</div>
					<a href="#" class="primary-btn" data-text="Resume">
						<span>R</span>
						<span>e</span>
						<span>s</span>
						<span>u</span>
						<span>m</span>
						<span>e</span>
					</a>
				</div>
			</div>
		</div>
	</section>
	<!-- End About Area -->

	<!-- SKILLS -->
	<section class="job-area section-gap-top section-gap-bottom-90">
		<div class="container">
			<div class="row">
				<div class="col-lg-12">
					<div class="section-title">
						<h2>My Skills</h2>
						<p>These are some of my skills and technical experience</p>
					</div>
					<div class="container">
				    	<div class="row justify-content-between">
					        <div class="col-md-5">
					            <h3 class="progress-title">HTML5</h3>
					            <div class="progress red">
					                <div class="progress-bar" style="width:90%; background: #e74c3c;">
					                    <div class="progress-value">90%</div>
					                </div>
					            </div>

					            <h3 class="progress-title">NodeJS</h3>
					            <div class="progress yellow">
					                <div class="progress-bar" style="width:75%; background:#f1c40f;">
					                    <div class="progress-value">75%</div>
					                </div>
					            </div>

					            <h3 class="progress-title">CSS3</h3>
					            <div class="progress green">
					                <div class="progress-bar" style="width:80%; background: #2ecc71 ;">
					                    <div class="progress-value">80%</div>
					                </div>
					            </div>
					        </div>
					        <div class="col-md-5">
					            <h3 class="progress-title">ExpressJS</h3>
					            <div class="progress blue">
					                <div class="progress-bar" style="width:70%; background:#3485ef;">
					                    <div class="progress-value">65%</div>
					                </div>
					            </div>

					            <h3 class="progress-title">JQuery</h3>
					            <div class="progress purple">
					                <div class="progress-bar" style="width:60%; background:#7d3c98 ;">
					                    <div class="progress-value">70%</div>
					                </div>
					            </div>

					            <h3 class="progress-title">SQL & MongoDB</h3>
					            <div class="progress pink">
					                <div class="progress-bar" style="width:80%; background:#ff4b7d;">
					                    <div class="progress-value">80%</div>
					                </div>
					            </div>
					        </div>
				   		</div>
					</div>
				</div>
			</div>
		</div>
	</section>
	
	<!-- Start Featured Projects Area Area -->
	<section class="work-area section-gap-top section-gap-bottom-90" >
		<div class="container" id="work">
			<div class="row d-flex justify-content-between align-items-end mb-80">
				<div class="col-lg-6">
					<div class="section-title">
						<h2>Featured Projects</h2>
						<p>
							Here are some of the projects that I have developed as a mean to obtain practicle knowledge and have some hands-on experience as a full stack web developer.
						</p>
					</div>
				</div>

				<div class="col-lg-6">
					<div class="filters">
						<ul>
							<li class="active" data-filter=".all">All Categories</li>
							<li data-filter=".educational">Educational</li>
							<li data-filter=".marketing">Marketing</li>
							<li data-filter=".personal">Personal</li>
						</ul>
					</div>
				</div>
			</div>

			<div class="filters-content">
				<div class="row grid">
					<div class="single-work col-lg-3 col-md-6 col-sm-12 all educational wow fadeInUp" data-wow-duration="2s" data-wow-delay="0.6s">
						<div class="relative">
							<div class="thumb">
								<div class="overlay overlay-bg"></div>
								<img class="image img-fluid" src="../img/work/cow.png" alt="">
							</div>
							<div class="middle">
								<h4>Courses On the Web</h4>
								<div class="cat">Course Management system</div>
							</div>
							<a class="overlay" href="/cow"></a>
						</div>
					</div>
					<div class="single-work col-lg-3 col-md-6 col-sm-12 all marketing wow fadeInUp" data-wow-duration="2s" data-wow-delay="0.2s">
						<div class="relative">
							<div class="thumb">
								<div class="overlay overlay-bg"></div>
								<img class="image img-fluid" src="../img/work/movies.png" alt="">
							</div>
							<div class="middle">
								<h4>PopCornTime</h4>
								<div class="cat">Movie search and personal App</div>
							</div>
							<a class="overlay" href="/popcorn"></a>
						</div>
					</div>
					<div class="single-work col-lg-3 col-md-6 col-sm-12 all marketing wow fadeInUp" data-wow-duration="2s">
						<div class="relative">
							<div class="thumb">
								<div class="overlay overlay-bg"></div>
								<img class="image img-fluid" src="../img/work/shek.png" alt="">
							</div>
							<div class="middle">
								<h4>Shek Bilisim</h4>
								<div class="cat">Company and Product Tracking Website</div>
							</div>
							<a class="overlay" href="/shek" ></a>
						</div>
					</div>
					<div class="single-work col-lg-3 col-md-6 col-sm-12 all educational marketing wow fadeInUp" data-wow-duration="2s" data-wow-delay="0.4s">
						<div class="relative">
							<div class="thumb">
								<div class="overlay overlay-bg"></div>
								<img class="image img-fluid" src="../img/work/nxtcampus.png" alt="">
							</div>
							<div class="middle">
								<h4>NxtCampus</h4>
								<div class="cat">Educational Project</div>
							</div>
							<a class="overlay"></a>
						</div>
					</div>
					<div class="single-work col-lg-3 col-md-6 col-sm-12 all personal marketing wow fadeInUp" data-wow-duration="2s">
						<div class="relative">
							<div class="thumb">
								<div class="overlay overlay-bg"></div>
								<img class="image img-fluid" src="../img/work/starWeb.png" alt="">
							</div>
							<div class="middle">
								<h4>StarWeb </h4>
								<div class="cat"> Web Development company with full blog </div>
							</div>
							<a class="overlay" href="/webstar"></a>
						</div>
					</div>
					<div class="single-work col-lg-3 col-md-6 col-sm-12 all personal wow fadeInUp" data-wow-duration="2s" data-wow-delay="0.2s">
						<div class="relative">
							<div class="thumb">
								<div class="overlay overlay-bg"></div>
								<img class="image img-fluid" src="img/work/starWebAdmin.png" alt="">
							</div>
							<div class="middle">
								<h4>Admin Dashboard</h4>
								<div class="cat">Content Management modular and extendable</div>
							</div>
							<a class="overlay" href="/webstaradmin"></a>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
	<!-- End Featured Projects Area -->

	<!-- Start Education Area Area -->
	<section class="job-area section-gap-top section-gap-bottom-90">
		<div class="container">
			<div class="row">
				<div class="col-lg-12">
					<div class="section-title">
						<h2>Education</h2>
						<p>These are the main educational levels ...</p>
					</div>
					<div class="container">
	                	<div class="row main-timeline10 justify-content-between">
	                    <div class="col-md-4 col-sm-12 col-lg-3 timeline">
	                        <div class="timeline-inner">
	                            <div class="year">2008 - 2011</div>
	                            <div class="timeline-content">
	                            	<br>
	                                <div class="post">AlBuhturi<br> High School</div>
	                                <hr>
	                                <p class="description">
	                                    I have studied at Albuhturi high school I have ranked the first in both tenth and eleventh grades. 
	                                </p>
	                            </div>
	                            <div class="timeline-icon">
	                                <i class="fas fa-baby"></i>
	                            </div>
	                        </div>
	                    </div>
	                    <div class="col-md-4 col-sm-12 col-lg-3 timeline">
	                        <div class="timeline-inner">
	                            <div class="year">2011 - 2013</div>
	                            <div class="timeline-content">
	                            	<br>
	                                <div class="post">Aleppo<br> University</div>
	                                <hr>
	                                <p class="description">
	                                    I have studied at the department of Computer Eng. for two years. I have ranked the second in my department.
	                                </p>
	                            </div>
	                            <div class="timeline-icon">
	                                <i class="fas fa-running"></i>
	                            </div>
	                        </div>
	                    </div>
	                    <div class="col-md-4 col-sm-12 col-lg-3 timeline">
	                        <div class="timeline-inner">
	                            <div class="year">2014 - 2019</div>
	                            <div class="timeline-content">
	                            	<br>
	                                <div class="post">ODTÜ<br> Computer Eng</div>
	                                <hr>
	                                <p class="description"> 
	                                	I have worked on a departmental course management system as a graduation project.
	                                </p>
	                            </div>
	                            <div class="timeline-icon">
	                                <i class="fas fa-user-graduate"></i>
	                            </div>
	                        </div>
	                    </div>
	                </div>
		        	</div>
				</div>
		        <hr>
			</div>
		</div>
	</section>
	<!-- End Education Area Area -->

	<!-- Start Job History Area Area -->
	<section class="job-area section-gap-top section-gap-bottom-90">
		<div class="container">
			<div class="row d-flex">
				<div class="col-lg-12">
					<div class="section-title">
						<h2>Work Experience</h2>
						<p>Yeah ... It has been a cool journey ... Every step was more fun than work!</p>
					</div>
					<div class="container">
		            	<div class="main-timeline">
	                        <a class="timeline">
	                            <div class="timeline-icon"><i class="fa fa-university"></i></div>
	                            <div class="timeline-content">
	                                <h3 class="title">METULIVE</h3>
	                                <h5 class="developer">Co-Founder + Web Developer</h5>
	                                <hr>
	                                <p class="description">
	                                    This project is a course management system based on php framework. The aim of the project was to support the students at METU in their academic studies and facilitates finding resources and support.
	                                </p>
	                            </div>
	                        </a>
	                        <a class="timeline">
	                            <div class="timeline-icon"><i class="fa fa-rocket"></i></div>
	                            <div class="timeline-content">
	                                <h3 class="title">NxtCampus</h3>
	                                <h5 class="developer">Co-Founder + Web Developer</h5>
	                                <hr>
	                                <p class="description">
	                                    This project represents a matutre course management system. It has beend developped nased on METULive original motivation. It has been won the Kristal Ağaç Award of ODTÜ in 2016.
	                                </p>
	                            </div>
	                        </a>
	                        <a class="timeline">
	                            <div class="timeline-icon"><i class="fa fa-briefcase"></i></div>
	                            <div class="timeline-content">
	                                <h3 class="title">Mavinci</h3>
	                                <h5 class="developer">Intern + Web Developer</h5>
	                                <hr>
	                                <p class="description">
	                                   I have joined a team dealing with a CBRN - Chemical Biological Radiological and Nuclear project and I was assigned to the team specialized in a related web application development.
	                                </p>
	                            </div>
	                        </a>
	                        <a class="timeline">
	                            <div class="timeline-icon"><i class="fa fa-file-invoice"></i></div>
	                            <div class="timeline-content">
	                                <h3 class="title">SBI BİLİŞİM A.S.</h3>
	                                <h5 class="developer">Intern + Project Documentation + Web Developer</h5>
	                                <hr>
	                                <p class="description">
	                                    I have worked on a system documentation of a penetration tool. And joined in the fronted end design of a CRM project of the company.
	                                </p>
	                            </div>
	                        </a>
		            	</div>
		        	</div>
				</div>
			</div>
		</div>
	</section>
	<!-- End Job Historyt Area Area -->

	<!-- Start Certificates Area -->
	<section class="service-area section-gap">
		<div class="container">
			<div class="row">
				<div class="col-lg-12">
					<div class="section-title">
						<h2>Certificates</h2>
						<p>The certificates show the skills learning levels and some of the praticle projects accomplished to build up my skills set</p>
					</div>
					<div class="row gallery-item">
						<div class="col-md-3">
							<a href="img/elements/g2.png" class="img-gal">
								<div class="single-gallery-image" style="background: url(../img/elements/g2.png);">
								</div>
							</a>
						</div>
						<div class="col-md-3">
							<a href="../img/elements/g1.jpg" class="img-gal"><div class="single-gallery-image" style="background: url(../img/elements/g1.jpg);"></div></a>
						</div>
						<div class="col-md-3">
							<a href="../img/elements/g3.png" class="img-gal"><div class="single-gallery-image" style="background: url(../img/elements/g3.png);"></div></a>
						</div>
						<div class="col-md-3"> 
							<a href="../img/elements/g5.png" class="img-gal"><div class="single-gallery-image" style="background: url(../img/elements/g5.png);"></div></a>
						</div>
						<div class="col-md-3">
							<a href="../img/elements/g4.png" class="img-gal"><div class="single-gallery-image" style="background: url(../img/elements/g4.png);"></div></a>
						</div>
						<div class="col-md-3">
							<a href="../img/elements/g6.png" class="img-gal"><div class="single-gallery-image" style="background: url(../img/elements/g6.png);"></div></a>
						</div>
						<div class="col-md-3">
							<a href="../img/elements/g7.png" class="img-gal"><div class="single-gallery-image" style="background: url(../img/elements/g7.png);"></div></a>
						</div>
						<div class="col-md-3">
							<a href="../img/elements/g8.png" class="img-gal"><div class="single-gallery-image" style="background: url(../img/elements/g8.png);"></div></a>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
	<!-- End Certificates Area -->

	<!-- Start Service Area -->
	<section class="service-area section-gap">
		<div class="container" id="service">
			<div class="row">
				<div class="col-lg-12">
					<div class="section-title">
						<h2>Service Offers</h2>
						<p>Here are some of the services and the tasks that I can proffessionally accomplish according to the best standards and technologies</p>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-lg-3 col-md-6">
					<div class="single-service wow fadeInUp" data-wow-duration="1s">
						<span class="lnr lnr-magic-wand"></span>
						<h4>
							<span>Web</span> Design
						</h4>
						<p>Front-end design including template, logo and theme designs for business purposes </p>
					</div>
				</div>
				<div class="col-lg-3 col-md-6">
					<div class="single-service wow fadeInUp" data-wow-duration="1s" data-wow-delay="0.2s">
						<span class="lnr lnr-laptop-phone"></span>
						<h4><span>Application</span> Development
						</h4>
						<p>Using NodeJs, ExpressJs, PHP and other technologies for a full stack app development</p>
					</div>
				</div>
				<div class="col-lg-3 col-md-6">
					<div class="single-service wow fadeInUp" data-wow-duration="1s" data-wow-delay="0.4s">
						<span class="lnr lnr-license"></span>
						<h4><span>Project</span> Documentation
						</h4>
						<p>Full project analysis and documentation for business, demo or development purposes.</p>
					</div>
				</div>
				<div class="col-lg-3 col-md-6">
					<div class="single-service wow fadeInUp" data-wow-duration="1s" data-wow-delay="0.6s">
						<span class="lnr lnr-chart-bars"></span>
						<h4><span>Software</span> Engineering
						</h4>
						<p>Applying and customizing the latest agile methods and various development patterns.</p>
					</div>
				</div>
			</div>
		</div>
	</section>
	<!-- End Service Area -->


	<!-- Start Testimonials Area -->
	<section class="testimonials_area section-gap">
		<div class="container">
			<div class="testi_slider owl-carousel">
				<div class="item">
					<div class="testi_item">
						<img src="../img/md.jpeg" alt="">
						<h4>Md Sadiqur Rahman</h4>
						<ul class="list">
							<li><a href="#"><i class="fa fa-star"></i></a></li>
							<li><a href="#"><i class="fa fa-star"></i></a></li>
							<li><a href="#"><i class="fa fa-star"></i></a></li>
							<li><a href="#"><i class="fa fa-star"></i></a></li>
							<li><a href="#"><i class="fa fa-star"></i></a></li>
						</ul>
						<div class="wow fadeIn" data-wow-duration="1s">
							<p>
								He loves to focus on the management aspect of a project. He is very good at time management. He also got a very good sense of design. His presence was always a great spirit for our team. I wish him a very good future. 
							</p>
						</div>
					</div>
				</div>
				<div class="item">
					<div class="testi_item">
						<img src="../img/bk.jpeg" alt="">
						<h4>Baraa Alkhatib</h4>
						<ul class="list">
							<li><a href="#"><i class="fa fa-star"></i></a></li>
							<li><a href="#"><i class="fa fa-star"></i></a></li>
							<li><a href="#"><i class="fa fa-star"></i></a></li>
							<li><a href="#"><i class="fa fa-star"></i></a></li>
							<li><a href="#"><i class="fa fa-star"></i></a></li>
						</ul>
						<div class="wow fadeIn" data-wow-duration="1s">
							<p>
								As conscious traveling Paup ers we must always be oncerned about our dear Mother Earth. If you think about it, you travel
								across her face <br> and She is the host to your journey.
							</p>
						</div>
					</div>
				</div>
				<div class="item">
					<div class="testi_item">
						<img src="../img/man.png" alt="">
						<h4>Fanny Spencer</h4>
						<ul class="list">
							<li><a href="#"><i class="fa fa-star"></i></a></li>
							<li><a href="#"><i class="fa fa-star"></i></a></li>
							<li><a href="#"><i class="fa fa-star"></i></a></li>
							<li><a href="#"><i class="fa fa-star"></i></a></li>
							<li><a href="#"><i class="fa fa-star"></i></a></li>
						</ul>
						<div class="wow fadeIn" data-wow-duration="1s">
							<p>
								As conscious traveling Paup ers we must always be oncerned about our dear Mother Earth. If you think about it, you travel
								across her face <br> and She is the host to your journey.
							</p>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
	<!-- End Testimonials Area -->

<% include partials/footer %>
