<% include partials/header %>


	<!-- start banner Area -->
	<section class="job-area section-gap-top section-gap-bottom-90">
		<div class="container">
			<div class="row">
				<div class="col-lg-12">
					<div class="section-title">
						<h2>Star Web Development Compnay</h2>
					</div>
					<section class="portfolio_details_area">
						<div class="container">
							<div class="portfolio_details_inner">
								<div class="row">
									<div class="col-md-6">
										<div class="img-prot">
											<img class="img-fluid img-project" src="/img/work/starWeb.png" alt="">
										</div>
									</div>
									<div class="offset-md-1 col-md-5">
										<div class="portfolio_right_text mt-30">
											<h3 class="text-center">About StarWeb</h3>
											<p>
												This project is built to represent the services that a web development company offers along with their blog.
											</p>
											<ul class="list">
												<li><span>Type</span>: Protfoilo and Blog</li>
												<li><span>Client</span>: Despider </li>
												<li><span>Website</span>: www.despider.com </li>
												<li><span>Status</span>: Complete </li>
												<a href="http://starwebdev.herokuapp.com/" target="_blank" class="primary-btn mt-50" data-text="View">
													<span>V</span>
													<span>I</span>
													<span>E</span>
													<span>W</span>
												</a>
											</ul>
										</div>
									</div>
								</div>
								<h2>Technologies:</h2>
								<hr>
								<br>
								<div class="row">
									<div class="col-lg-12">
										<img class="tech" src="/img/brand/html.png">
										<img class="tech" src="/img/brand/Bootstrap.png">
										<img class="tech" src="/img/brand/jquery.png">
										<img class="tech" src="/img/brand/semantic.png">
										<img class="tech" src="/img/brand/b1.png">
										<img class="tech" src="/img/brand/expressjs.png">
										<img class="tech" src="/img/brand/b6.jpg">
										<img class="tech" src="/img/brand/git.png">
									</div>
								</div>
							</div>
						</div>
					</section>
				</div>
			</div>
		</div>
	</section>
	<!-- End banner Area -->

	<!-- Portfolio Details Area -->
	
	<!-- End Portfolio Details Area -->

<% include partials/footer %>